@import url("styles/tabela.css");
@import url("styles/reset.css");
@import url("styles/cabecalho-rodape.css");
@import url("styles/linhagem.css");
@import url("styles/calculadora.css");

:root{
    --fonte-principal: "Poppins";
    --fonte-tamanho: 16px;
    --cor-preto: #000000;
    --cor-fundo1: #C4C4C4;
    --cor-fundo2: #EDEDED; 
}

.conteudo-principal {
  min-height: 100vh;
  font-family: var(--fonte-principal);
  color: var(--cor-preto);
  font-size: 18px;
  font-weight: 400;
  margin: 0 1em 1em 1em;
}

.botoes__linhagem {
  display: flex;
  justify-content: center;
  font-size: 24px;
  align-items: center;
  padding: 1em;
  margin: 0;
}

.botoes__linhagem button {
  font-family: var(--fonte-principal);
  font-size: 24px;
  border-radius: 39px;
  margin: 0.2em;
}

.botoes__linhagem button:hover {
  background-color: var(--cor-fundo1);
}

.pagina__titulo {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 1em;
}